@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --backgroundColor:#e7e8ec;
}

.textColor{
  @apply text-slate-700
}
.bgColor{
  @apply bg-gray-800
}

body{
  background-color: var(--backgroundColor)
}